.concepteurs__container {
    display:flex;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 12vw;
    z-index: 10;
}

.concepteurs__title {
    font-size: var(--h2);
    text-transform: uppercase;
    text-align: center;
}

.concepteurs__name {
    text-align: center;
    font-size: var(--t-l);
    display: flex;
}



