h1{
    font-weight: 900;
    font-size: var(--h2);
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--grey--1);
    margin-top: 25vh;
    margin-bottom: 8vh;
}

h2 {
    font-weight: 400;
    font-size: var(--t-l);
    color: var(--grey--1);
}

p{
    font-weight: 300;
    font-size: var(--ps);
    color: var(--grey--1);
}

.mentions1{
    width:228px;
}
.mentions3{
    width:265px;
}
.mentions5{
    width:250px;
}
.mentionsghost{
    width:300px;
}

.contact_firstline{
    display:flex;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 12vw;
}

.contact_secondline{
    display:flex;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 8vh;
}