.hero__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 23vh;
    color: var(--red--2);
    font-weight: 900;
    font-size: var(--h1);
    text-transform: uppercase;
    z-index: 2;
}

.hero__tagline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 40vh;
    font-weight: 400;
    color: var(--black);
    z-index: 2;
}

.hero__illu img {
    max-width: 100%;
    margin-top: 11.5vh;
}

.hero__repere {
    width: 56px;
    height: 26px;
    position: absolute;
    top: 793px;
    left: 159px;
    z-index: -1;
}

.hero__button{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 15.6vw;
    height: 7.4vh;
    background-color: var(--red--3);
    margin-top: 78.5vh;
    z-index: 2;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.hero__button a {
    font: 400 var(--t-l);
    color: var(--white);
    display: flex;
    align-self: center;
}

.hero__swipe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 90vh;
}