.icon {
    display: flex;
    margin-top: 18vh;
    margin-right: 12vw;
    margin-left: 12vw;
    flex-direction: column;
}

.icon__container {
    display: flex;
    justify-content: space-between;
}

.icon__img {
    max-width: 17.3vw;
}

.icon__txt {
    max-width: 17.3vw;
    margin-top: 5vh;
    font-weight: 300;
    font-size: var(--ps);
}